html, button {
  font-family: avenir, "avenir next", helvetica, arial, sans-serif;
  font-size: 14px;
}

body, ul, li, h1 {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

input[type="text"] {
  display: block;
  width: 100%;
  padding: 3px;
  margin-bottom: 3px;
}

.content {
  width: 90%;
  margin: 0 auto;
}

.title {
  text-align: center;
  background-color: #3D9970;
  padding: 5px;
}

.button.primary {
  padding: 10px;
  background-color: #85144b;
  color: #fff;
  width: 100%;
  margin: 3px 0;
  border: none;
}

.button.primary:hover {
  background-color: #9b1758;
  cursor: pointer;
}

.item {
  padding: 5px;
  border-bottom: solid #aaa 1px;
}

.item h1 {
  font-size: 1.2em;
}

img {
  opacity: .8;
  width: 50%;
  display: block;
  margin: 10px auto;
}
